    <%#= cl_image_path @user.profile_picture, :class => "avatar-large" %>
<div class="container">

  <div class="user-container">
    <%= image_tag 'https://kitt.lewagon.com/placeholder/users/ssaunier', :class => "avatar-large user-image" %>
    <div class = "user-name text-center">
      <h1><%= @user.first_name%> <%= @user.last_name %> </h1>
    </div>
    <div class="user-content text-center">
      <p>About Me: <%= @user.about_me %></p>
    </div>
  </div>

  <div class="video-container">
    <h2>My Uploaded Videos</h2>
    <%= link_to 'Add new video', new_video_path %>
    <div class="row">
      <% @videos.each do |video| %>
        <div class="col-xs-12 col-sm-4">
          <%= link_to video_path(video) do %>
            <div class="card">
             <!-- style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');"> -->
               <%= cl_video_tag(video.video.file.public_id, :crop=>"scale", autoplay: false, loop: true, preload: "auto", poster: true) %>
            </div>
            <p> <%= video.title %></p>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <br>

  <div class="video-container">
    <h2>My Purchased Videos</h2>
    <div class="row">
      <% @videos.each do |video| %>
        <div class="col-xs-12 col-sm-4">
          <%= link_to video_path(video) do %>
            <div class="card">
            <!-- style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');" -->
               <%= cl_video_tag(video.video.file.public_id, :crop=>"scale", autoplay: false, loop: true, preload: "auto", poster: true) %>
            </div>
            <p> <%= video.title %></p>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= javascript_pack_tag 'cards' %>

<!--   <div class="user-videos video-wrap">
    <div class="align-middle video-container">
      </div>
    </div>

    <div class="align-middle video-container">
    </div>

  </div> -->
