
<div class="container">

  <div class="user-container">
    <div class="user-name">
      <%#= cl_image_path @user.profile_picture, :class => "avatar-large" %>
      <% if @user.photo.file == nil %>
        <%= image_tag "user-icon.png", :class => "avatar-large user-image" %>
      <% else %>
        <%= cl_image_tag @user.photo, :class => "avatar-large user-image" %>
      <% end %>
      <div class = "name">
        <h1><%= @user.first_name%> <%= @user.last_name %> </h1>
        <p>About Me: <%= @user.about_me %></p>
      </div>
    </div>


  </div>

  <div class="video-container">
    <div class="profile-video-title">
      <h2>My Uploaded Videos</h2>
      <%= link_to 'Add video', new_video_path, :class => "green-button" %>
    </div>

    <div class="row user-page-all-videos">
      <% current_user.videos.each do |video| %>
        <div class="col-xs-12 col-sm-4 user-page-video">
          <%= link_to video_path(video) do %>
            <div class="card user-page-video-card">
               <%= cl_video_tag(video.video.file.public_id, :height=>175, :width=>300, :crop=>"lpad", :background=>"black", autoplay: false, loop: true, preload: "auto", poster: true) %>
            </div>
            <p> <%= video.title %></p>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="video-container">
    <div class="profile-video-title">
      <h2>My Purchased Videos</h2>
    </div>
    <div class="row user-page-all-videos">
      <% videos = [] %>
      <% current_user.transactions.each do |transaction| %>
        <% videos << transaction.video %>
      <% end  %>
      <% videos.each do |video| %>
        <div class="col-xs-12 col-sm-4 user-page-video">
          <%= link_to video_path(video) do %>
            <div class="card user-page-video-card">
               <%= cl_video_tag(video.video.file.public_id, :height=>175, :width=>300, :crop=>"lpad", :background=>"black", autoplay: false, loop: true, preload: "auto", poster: true) %>
            </div>
            <p> <%= video.title %></p>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>


</div>

<%= javascript_pack_tag 'cards' %>


