<%#= cl_image_path @user.profile_picture, :class => "avatar-large" %>
<div class="user-container">

  <div class="user-banner">
    <%= image_tag 'https://kitt.lewagon.com/placeholder/users/ssaunier', :class => "avatar-large" %>
    <div class = "user-name">
      <h1><%= @user.first_name%> <%= @user.last_name %> </h1>
    </div>
    <div class="user-content">
      <p>About Me: <%= @user.about_me %></p>
    </div>
  </div>

  <div class="user-videos video-wrap">
    <div class="container align-middle video-container">
      <h2>My Uploaded Videos</h2><%= link_to 'Add new video', new_video_path %>
      <div class="row">
        <% @videos.each do |video| %>
          <div class="col-xs-12 col-md-4">
            <%= link_to video_path(video) do %>
            <div class="card">
              <div class="video"> <%= cl_video_tag(video.video.file.public_id, :crop=>"scale", autoplay: false, loop: true, preload: "auto", poster: true) %></div>
              <p><%= video.title %></p>
            </div>
             <% end %>
              <div class="content">
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="container align-middle video-container">
      <h2>My Purchased Videos</h2>
    </div>

  </div>


  <%= link_to "LOG OUT", destroy_user_session_path(current_user), method: :delete %>
</div>

