
<div class="container">

  <div class="user-container">
    <div class="user-name">
      <%#= cl_image_path @user.profile_picture, :class => "avatar-large" %>
      <%= image_tag 'https://kitt.lewagon.com/placeholder/users/ssaunier', :class => "avatar-large user-image" %>
      <div class = "name text-center">
        <h1><%= @user.first_name%> <%= @user.last_name %> </h1>
      </div>
      <div class="user-content">
        <p>About Me: <%= @user.about_me %></p>
      </div>

    </div>


  </div>

  <div class="video-container">
    <div class="profile-video-title">
      <h2>My Uploaded Videos</h2>
      <%= link_to 'Add video', new_video_path, :class => "green-button" %>
    </div>

    <div class="row user-page-all-videos">
      <% @videos.each do |video| %>
        <div class="col-xs-12 col-sm-4 user-page-video">
          <%= link_to video_path(video) do %>
            <div class="card user-page-video-card">
               <%= cl_video_tag(video.video.file.public_id, :height=>175, :width=>300, :crop=>"lpad", :background=>"black", autoplay: false, loop: true, preload: "auto", poster: true) %>
            </div>
            <p> <%= video.title %></p>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="video-container">
    <div class="profile-video-title">
      <h2>My Purchased Videos</h2>
    </div>
    <div class="row user-page-all-videos">
      <% @videos.each do |video| %>
        <div class="col-xs-12 col-sm-4 user-page-video">
          <%= link_to video_path(video) do %>
            <div class="card user-page-video-card">
               <%= cl_video_tag(video.video.file.public_id, :height=>175, :width=>300, :crop=>"lpad", :background=>"black", autoplay: false, loop: true, preload: "auto", poster: true) %>
            </div>
            <p> <%= video.title %></p>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>


</div>

<%= javascript_pack_tag 'cards' %>

<!--   <div class="user-videos video-wrap">
    <div class="align-middle video-container">
      </div>
    </div>

    <div class="align-middle video-container">
    </div>

  </div> -->

