<!-- <div class="new-container">
  <div class="form">
    <%=# simple_form_for(@cocktail) do |f| %>
    <%=# f.input :title %>
    <%=# f.input :description %>
    <%=# f.input :tags %>
    <%=# f.input :price %>
    <%=# f.input :location %>
    <%=# f.button :submit %>
    <%# end %>
  </div>
</div> -->
