
<div class="container results">
  <div class="search-results">

    <div class="filter-search text-center">
      <div class="filter-option header">
        <h2>Filter Search</h2>
      </div>

      <%= form_tag videos_path, method: :get do %>
        <div class="filter-option">
          <div class="form-group">
            <label for="Duration">Search</label>
            <p>
            <%= text_field_tag :search, params[:search], :class => 'search-field' %>
            </p>
          </div>
        </div>

        <div class="filter-option">
          <div class="form-group">
            <label for="Duration">Duration</label>
            <p>
            <%= text_field_tag :duration, params[:duration], :placeholder => 'In seconds', :class => 'search-field'%>
            </p>
          </div>
        </div>

        <div class="filter-option button">
          <%= submit_tag "Search", :name => nil, :class => 'green-button button-filter' %>
        </div>
      <% end %>
    </div>

    <div class="results">
      <h1>Results</h1>
      <div class="row">
        <% @videos.each do |video| %>
          <div class="col-sm-12 col-md-6 col-lg-4 results-page-video">
            <%= link_to video_path(video) do %>
              <div class="card results-page-video-card">
                <div class="video"> <%= cl_video_tag(video.video.file.public_id, :width=>300, :height=>175, :crop=>"lpad", :background=>"black", autoplay: false) %>
                </div>
              </div>
              <p> <%= video.title %></p>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>

<%= javascript_pack_tag 'cards' %>
