<div class="container">
  <h1 class="text-center">Upload your videos</h1>

  <div class="col-xs-12 col-sm-6 col-sm-offset-3">
    <div class="form">
      <%= simple_form_for(@video) do |f| %>
      <div class="form-actions">
        <%= f.input :title %>
        <%= f.input :description %>
        <%= f.input :tags %>
        <%= f.input :price %>
        <%= f.input :location %>
        <%= f.input :duration, label: "Duration in seconds" %>
        <div class="buttons">
          <div class="input-button">
            <%= f.input :video %>
          </div>
          <%= f.submit "Add video", :class=>"green-button video-green-button"%>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

