<div class="container">
  <div class="video-info">
    <h1 class="video-title"><%= @video.title %></h1>
    <div class="video-owner">
      <h4><%= @video.user.first_name + " " + @video.user.last_name %></h4>
      <%= link_to user_path(@video.user_id) do %>
        <%= cl_image_tag @video.user.photo, id: "seb", :class => 'show-avatar' %>
      <% end %>
    </div>
  </div>

  <div class="main-video">
    <div class="video-show"><%= cl_video_tag(@video.video.file.public_id, resource_type: :video,:width=>720, :crop=>"scale", controls: true, controlsList: "nodownload") %>
    </div>

    <p class="vid-desc"><%= @video.description %></p>
  </div>
  <div class="video-footer">
    <div class="video-footer-links">
      <a href="#">
        <i class="fas fa-download" data-toggle="modal" data-target="#myModal"></i>
      </a>
      <div class="video-link">
        <div class="green-button"><%= link_to "Edit video", edit_video_path(@video) %>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalLabel">Pay for this Video</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="formGroupExampleInput">Card Holder's Name</label>
            <input type="text" class="form-control" id="formGroupExampleInput">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput2">Card Number</label>
            <input type="text" class="form-control" id="formGroupExampleInput2">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput2">Card Type</label>
            <input type="text" class="form-control" id="formGroupExampleInput2">
          </div>
          <div class="form-group">
            <label for="formGroupExampleInput2">CVC Code</label>
            <input type="text" class="form-control" id="formGroupExampleInput2">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="green-button-large">Pay</button>
      </div>
    </div>
  </div>
</div>
