<div class="container">
  <h1><%= @video.title %></h1>
  <h4><%= @video.user.first_name + " " + @video.user.last_name %></h4>
  <br>

  <div class="main-video">
    <div class="video"><%= cl_video_tag(@video.video.file.public_id, resource_type: :video,:width=>1100, :crop=>"scale", controls: true, controlsList: "nodownload") %>
    </div>
    <div class="video-footer text-center">
      <div class="video-footer-links">
        <%= link_to user_path(@video.user_id) do %>
          <%= image_tag "ssaunier.jpeg", id: "seb", :class => 'avatar'%>
        <% end %>
        <%= link_to edit_video_path(@video) do %>
          <i class="fas fa-download"></i>
        <% end %>
      </div>
      <p><%= @video.description %></p>
    </div>
  </div>

  <div class="video-link">
    <div class="green-button"><%= link_to "Edit video", edit_video_path(@video) %>
    </div>
  </div>
</div>

