
<div class="banner">
  <div class="banner-content">
    <h1>Clippr</h1>
    <p>Find and license video clips</p>
    <%= form_tag videos_path, method: :get do %>
      <p>
        <%= text_field_tag :search, params[:search], :class => 'search-field banner-search-field' %>
        <%= submit_tag "Search", :name => nil, :class => 'btn-success banner-button-field' %>
      </p>
    <% end %>
  </div>
</div>
<div class="container home-container">
  <div id="wrapper">
    <h1 class="text-center">Today's Most Popular Videos</h1>
    <div class="container align-middle">
      <div class="row">
        <% @videos.each do |video| %>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <%= link_to video_path(video) do %>
                <p class="home-card-title"><%= video.title %></p>
              <div class="card">
                <div class="video"> <%= cl_video_tag(video.video.file.public_id, :crop=>"scale", autoplay: false, loop: true, preload: "auto", poster: true, width: 300, height: 175) %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= javascript_pack_tag "navbar" %>
<%= javascript_pack_tag 'cards' %>
