<div class="navbar-wagon home-nav">
  <p>Navbar</p>
</div>

<div class="banner home-banner">
  <div>
    <h1>Clippr</h1>
    <p>Find and license video clips</p>
    <%= form_tag videos_path, :method => 'get' do %>
      <p>
        <%= text_field_tag :search, params[:search], :class => 'search-field' %>
        <%= submit_tag "Search", :name => nil, :class => 'btn-success' %>
      </p>
    <% end %>
  </div>
</div>

<div id="wrapper">
  <h1>Today's Most Popular Videos</h1>
  <div class="container align-middle">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="card">
          <div class="video"> <%= cl_video_tag("chat", :width=>310, :crop=>"scale", autoplay: false) %></div>
          <div class="content">
            <h5>The cuttest cat</h5>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="card">
          <div class="video"> <%= cl_video_tag("chat", :width=>310, :crop=>"scale", autoplay: false) %></div>
          <div class="content">
            <h5>The cuttest cat</h5>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="card">
          <div class="video"> <%= cl_video_tag("chat", :width=>310, :crop=>"scale", autoplay: false) %></div>
          <div class="content">
          <div class="content">
            <h5>The cuttest cat</h5>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>


  <p>end page</p>
</div>



<%= link_to "LOG OUT", destroy_user_session_path(current_user), method: :delete %>
